Repository NASA-Planetary-Science/sbpy, pull requests merged in 2019-07, with the labels that each got.

#164 Overhaul of sbpy.activity.gas into its own directory. Changed mol_data to Phys.from_jplspec()
  docs/sbpy/activity/index.rst
  docs/sbpy/data/index.rst
  docs/sbpy/spectroscopy/index.rst
  sbpy/activity/gas/__init__.py
  sbpy/activity/gas/core.py
  sbpy/activity/gas/productionrate.py
  sbpy/activity/gas/setup_package.py
  sbpy/activity/gas/tests/__init__.py
  sbpy/activity/gas/tests/data/CH3OH.csv
  sbpy/activity/gas/tests/data/CO.csv
  sbpy/activity/gas/tests/data/HCN.csv
  sbpy/activity/gas/tests/test_gas.py
  sbpy/activity/gas/tests/test_prodrate.py
  sbpy/activity/gas/tests/test_prodrate_remote.py
  sbpy/data/__init__.py
  sbpy/data/phys.py
  sbpy/spectroscopy/core.py
  sbpy/spectroscopy/tests/test_spec_remote.py
Labels: activity

#178 WIP: data updates
  docs/compile_fieldnames.py
  docs/sbpy/bib.rst
  docs/sbpy/data/fieldnames.rst
  docs/sbpy/data/index.rst
  sbpy/activity/gas/productionrate.py
  sbpy/activity/gas/tests/test_prodrate_remote.py
  sbpy/activity/tests/test_dust.py
  sbpy/data/__init__.py
  sbpy/data/core.py
  sbpy/data/ephem.py
  sbpy/data/names.py
  sbpy/data/obs.py
  sbpy/data/orbit.py
  sbpy/data/phys.py
  sbpy/data/tests/test_dataclass.py
  sbpy/data/tests/test_ephem_remote.py
  sbpy/data/tests/test_orbit_remote.py
  sbpy/data/tests/test_phys_remote.py
  sbpy/photometry/core.py
  sbpy/photometry/tests/test_core.py
Labels: data, documentation

#182 switching from coveralls to codecov
  .travis.yml
  README.rst
  docs/index.rst
  website/public/index.html
Labels: infrastructure

#194 TravisCI updates
  .travis.yml
Labels: infrastructure

#190 `@cite`: work with classes, better name registration
  sbpy/bib/core.py
  sbpy/bib/tests/test_bib.py
Labels: bibliography

#198 Re-write quantity_to_dataclass; new dataclass_input
  sbpy/data/__init__.py
  sbpy/data/core.py
  sbpy/data/decorators.py
  sbpy/data/tests/test_decorator.py
  sbpy/data/tests/test_decorators.py
Labels: data

#201 bib.register to accept functions and automatically convert to string.
  sbpy/bib/core.py
Labels: bibliography, enhancement

#197 Document sbpy design principles (aka, the Zen of sbpy).
  docs/development/design-principles.rst
  docs/development/index.rst
  docs/index.rst
  sbpy/data/__init__.py
Labels: documentation

#207 Gas modernization
  docs/index.rst
  docs/sbpy/activity/dust.rst
  docs/sbpy/activity/gas.rst
  docs/sbpy/activity/index.rst
  docs/sbpy/bib.rst
  sbpy/activity/core.py
  sbpy/activity/dust.py
  sbpy/activity/gas/__init__.py
  sbpy/activity/gas/core.py
  sbpy/activity/gas/data/__init__.py
  sbpy/activity/gas/data/schleicher88.txt
  sbpy/activity/gas/setup_package.py
  sbpy/activity/gas/tests/setup_package.py
  sbpy/activity/gas/tests/test_core.py
  sbpy/activity/gas/tests/test_data.py
  sbpy/activity/tests/test_core.py
  sbpy/data/__init__.py
  sbpy/data/tests/test_ephem_remote.py
  sbpy/data/tests/test_orbit_remote.py
  sbpy/exceptions.py
Labels: activity

#213 Photometry v02 part 1
  docs/sbpy/photometry.rst
  sbpy/photometry/core.py
  sbpy/photometry/tests/test_core.py
Labels: photometry
