Repository NASA-Planetary-Science/sbpy, pull requests merged in 2019-03, with the labels that each got.

#119 Documentation updates
  docs/contributing.rst
  docs/status.rst
Labels: documentation

#120 DataClass.__set__ modifies underlying QTable
  docs/sbpy/data.rst
  sbpy/data/core.py
  sbpy/data/tests/test_dataclass.py
Labels: data

#106 Fix for Issue #100: from_horizons now supports multiple Time values
  sbpy/data/ephem.py
  sbpy/data/tests/test_ephem_remote.py
Labels: bug, data

#103 SpectralGradient
  docs/index.rst
  docs/sbpy/photometry.rst
  docs/sbpy/units.rst
  docs/sbpy/utils.rst
  sbpy/photometry/core.py
  sbpy/photometry/data/README
  sbpy/photometry/data/filter_curves.fits
  sbpy/photometry/data/sdss-g.fits
  sbpy/photometry/data/sdss-i.fits
  sbpy/photometry/data/sdss-u.fits
  sbpy/photometry/data/sdss-z.fits
  sbpy/photometry/tests/test_core.py
  sbpy/spectroscopy/core.py
  sbpy/spectroscopy/vega/sources.py
  sbpy/spectroscopy/vega/tests/test_vega.py
  sbpy/units/__init__.py
  sbpy/units/core.py
  sbpy/units/tests/test_core.py
  sbpy/utils/__init__.py
  sbpy/utils/core.py
  sbpy/utils/tests/test_core.py
Labels: photometry
