Repository NASA-Planetary-Science/sbpy, pull requests merged in 2019-08, with the labels that each got.

#193 WIP: updates for sbpy.data
  .gitignore
  .travis.yml
  docs/about.rst
  docs/compile_fieldnames.py
  docs/development/design-principles.rst
  docs/development/index.rst
  docs/index.rst
  docs/install.rst
  docs/sbpy/data/dataclass.rst
  docs/sbpy/data/ephem.rst
  docs/sbpy/data/fieldnames.rst
  docs/sbpy/data/index.rst
  docs/sbpy/data/names.rst
  docs/sbpy/data/obs.rst
  docs/sbpy/data/orbit.rst
  docs/sbpy/data/phys.rst
  docs/status.rst
  sbpy/data/__init__.py
  sbpy/data/core.py
  sbpy/data/ephem.py
  sbpy/data/names.py
  sbpy/data/obs.py
  sbpy/data/orbit.py
  sbpy/data/phys.py
  sbpy/data/tests/test_ephem_remote.py
  sbpy/data/tests/test_names.py
  sbpy/data/tests/test_obs_remote.py
  sbpy/data/tests/test_orbit_remote.py
  sbpy/photometry/__init__.py
  sbpy/photometry/core.py
Labels: data

#212 Documentation updates
  docs/about.rst
  docs/install.rst
  docs/sbpy/activity/dust.rst
  docs/sbpy/bib.rst
  docs/sbpy/calib.rst
  docs/sbpy/photometry.rst
  docs/sbpy/units.rst
  docs/status.rst
  sbpy/calib/core.py
  sbpy/spectroscopy/__init__.py
  sbpy/spectroscopy/sources.py
Labels: documentation

#189 WIP: Implementation of Pyradex to obtain column densities from flux data
  docs/sbpy/activity/gas.rst
  sbpy/activity/gas/productionrate.py
  sbpy/activity/gas/tests/test_prodrate.py
  sbpy/activity/gas/tests/test_prodrate_remote.py
  sbpy/data/__init__.py
Labels: activity

#216 minor updates
  docs/install.rst
  docs/sbpy/activity/gas.rst
  docs/sbpy/bib.rst
  docs/sbpy/data/fieldnames.rst
  sbpy/bib/core.py
  sbpy/bib/tests/test_bib.py
  sbpy/data/__init__.py
  sbpy/data/core.py
  sbpy/data/ephem.py
  sbpy/data/obs.py
  sbpy/data/orbit.py
  sbpy/data/phys.py
  sbpy/data/tests/test_ephem_remote.py
Labels: data, documentation

#218 Allow unit check for decorator quantity_to_dataclass
  sbpy/data/decorators.py
  sbpy/data/tests/test_decorators.py
  sbpy/photometry/core.py
  sbpy/photometry/tests/test_core.py
Labels: data, enhancement

#220 Reflectance equivalency allows dimensionless logarithmic units
  docs/sbpy/units.rst
  sbpy/units/core.py
  sbpy/units/tests/test_core.py
Labels: enhancement, units

#222 Deprecate `mag2ref` and `ref2mag`
  docs/sbpy/photometry.rst
  sbpy/photometry/core.py
  sbpy/photometry/tests/test_core.py
Labels: photometry

#225 Photometry submodule Bugfixes
  sbpy/photometry/core.py
  sbpy/photometry/tests/test_core.py
Labels: photometry

#223 more minor updates for v0.2
  CHANGES
  LICENSE.rst
  docs/sbpy/activity/gas.rst
  sbpy/bib/core.py
  sbpy/bib/tests/test_bib.py
Labels: bibliography, documentation, infrastructure
