Repository NASA-Planetary-Science/sbpy, pull requests merged in 2019-04, with the labels that each got.

#121 preparation of JOSS submission
  publications/joss/paper.bib
  publications/joss/paper.md
  publications/joss/structure.png
Labels: new feature

#124 Observe standards
  docs/sbpy/spectroscopy.rst
  sbpy/exceptions.py
  sbpy/photometry/data/README
  sbpy/photometry/data/johnson_v_004_syn.fits
  sbpy/spectroscopy/__init__.py
  sbpy/spectroscopy/core.py
  sbpy/spectroscopy/sun/core.py
  sbpy/spectroscopy/sun/tests/test_sun.py
  sbpy/spectroscopy/tests/test_core.py
  sbpy/spectroscopy/vega/core.py
  sbpy/spectroscopy/vega/tests/test_vega.py
  sbpy/utils/core.py
Labels: spectroscopy

#129 Afrho/Efrho v0.1
  docs/sbpy/activity.rst
  docs/sbpy/spectroscopy.rst
  sbpy/activity/dust.py
  sbpy/activity/tests/test_dust.py
  sbpy/spectroscopy/__init__.py
  sbpy/spectroscopy/core.py
  sbpy/spectroscopy/sources.py
  sbpy/spectroscopy/sun/core.py
  sbpy/spectroscopy/tests/test_sources.py
  sbpy/spectroscopy/vega/core.py
Labels: activity

#134 Photometry rebased
  docs/sbpy/photometry.rst
  sbpy/photometry/core.py
  sbpy/photometry/tests/test_core.py
Labels: photometry
